.time {
    width: 80%;
    max-width: 300px;
    background-color: #678983;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #F0E9D2;
}

.time:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.header,
.sentence,
.today {
    text-align: center;
    padding: 0.5rem;
}

.header {
    letter-spacing: 0.1rem;
}

.today,
.sentence {
    padding: 0.1rem 0 0.5rem;
    color: #E6DDC4;
}

.today {
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
}

.today button {
    background-color: transparent;
    border: none;
    color: #E6DDC4;
    text-transform: uppercase;
    text-shadow: 4px 3px 0 #7A7A7A, 2px 2px 1px rgba(230,221,196,0);
    letter-spacing: 0.1rem;
    cursor: pointer;
}